.main_about{
     width: 100%;
    margin-top: 70px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.t_h1{
      color: rgb(17, 93, 93);
      font-size: 70px;
      font-style: italic;
     }

.t_h2{
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
    color: rgb(17, 93, 93);
}     

.para1_containner{
     width: 90%;

     display: flex;
     justify-items: center;
     
     background-color: #1a076d;

     border: 3px inset;
     border-radius: 15px;

     animation: para_containner 10s ease-in infinite alternate;

    .para1{
        padding: 10px;
        text-align: justify;
        word-spacing: 3px;
        line-height: 35px;   

        color: white;
        font-size: 20px;
    }
}

@-webkit-keyframes para_containner{
    10%{box-shadow: 5px 4px 7px aqua;}
    20%{box-shadow: 6px 7px 4px aquamarine; }
    40%{ box-shadow: 4px 6px 7px #1ad;}
    60%{ box-shadow: 5px 7px 6px #0ac;}
    100%{box-shadow: 6px 5px 4px #0bf;}
}

.prez_groupe{
    display: flex;
    gap: 200px;

    a{
        text-decoration: none;
        color: antiquewhite;
    }
}