.main_comptence{
    margin-top: 5%;
    display: grid;
    place-items: center;
}

.h1_com{
    text-align: center;
}


.sec_cptc{
    width: 90%;
    display: grid;
    place-items: center;

}

#c1{
    display: grid;
    place-items: center;
    gap: 20px;
}

.div_tt{
    display: grid;
    gap: 50px;
    margin-bottom: 20px;
}

#c2{
   display: grid; 
   place-items: center;
   gap: 20px;

   h3{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
   
}

.c2_competence{
    width: 90%;
    border: 3px solid;
    border-radius: 12px;
    padding: 20px;
    display: grid;
    gap: 15px;
    display: flex;
    flex-direction: column;

    h3{
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
    }

}
.c3_competence{
       display: grid;
       grid-template-columns: 2fr 2fr;
       align-items: center;
       gap: 50px;

       font-size: 19px;
       font-weight: bold;
       font-family: ink free;
}
.c4_competence{
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: rgba(44, 0, 188, 0.432);
    border-radius: 5px;
    height: 20px;

}
.jauge{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(101, 210, 224, 0.774);
}
#jauge1{
    animation: jauge1 0.6s linear forwards;
}
@-webkit-keyframes jauge1{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(-10%);}
}

#jauge2{
    animation: jauge2 0.6s linear forwards;
}
@-webkit-keyframes jauge2{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(-15%);}
}

#jauge3{
    animation: jauge3 0.6s linear forwards;
}
@-webkit-keyframes jauge3{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(-20%);}
}

#jauge4{
    animation: jauge4 0.6s linear forwards;
}
@-webkit-keyframes jauge4{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(-50%);}
}

#jauge5{
    animation: jauge5 0.6s linear forwards;
}
@-webkit-keyframes jauge5{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(-60%);}
}


.c4prime{
border: 1pt solid #ccc;
border-radius: 7px;
background-color: #205;
transition: all(0.4s);
padding-left: 10px;
}
.c4prime:hover{
    box-shadow: 2px 2px 2px #000;
}

.c1_1{
    width: 90%;
    padding-left: 20px;
    border: 3px solid;
    border-radius: 10px;
    background-color: #158;
    
    ul{
        list-style: none;

        li{
            font-size: 20px;
        }
    }
}

#c3{
    display: grid;
    place-items: center;

    .A_CMPT{
        width: 90%;
        border: 3px solid ;
        border-radius: 10px;
        background-color: #158;

        padding-left: 20px;

        ul{
            list-style: none;
            li{
                font-size: 20px;
            }
        }
    }
}

#fieldset_competence{
    border: 5px outset #110254;
    border-radius: 15px;
}

