:root{
    --border-color:linear-gradient(rgb(0, 183, 255),rgb(96, 240, 233),rgb(120, 231, 163),rgb(187, 231, 129));

}
#main_commentaire{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid rgb(71, 109, 151) ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_comments{
    width: 90%;
    border:1px solid;
    border-radius: 20px;
    padding: 10px;
}
